<div class="general">
  <div class="todolist">
    <h1>Voici ma liste de chose à faire :</h1>
    <h2>
      <> Fait avec NgRx <>
    </h2>
    <div>
      <input [(ngModel)]="newTask" placeholder="Nouvelle tâche" />
      <button class="add" (click)="addTask()">Ajouter Tâche</button>
    </div>
    <ul>
      <li *ngFor="let task of tasks$ | async">
        <span class="description" [class.completed]="task.isCompleted">{{ task.description }}</span>
        <span class="is">{{task.isCompleted}}</span>
        <input type="checkbox" (click)="toggleTaskCompletion(task.id)">
        <button class="rm" (click)="deleteTask(task.id)">X</button>
      </li>
    </ul>
  </div>
</div>